@media screen and (min-width: 600px) {
    .lists-view-container{
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: white;
        align-content: center;

    }
    .lists-view_header-container {
        font-size: 2rem;
    }
    .list-buttons-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .list-buttons-container div{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    .list_name-container .list-name {
        color:red;

    }

    .lists-container{
        width: 85%;
        background-color: burlywood;
        justify-content: center;
        align-content: center;

    }

    .new-list-button{
        display: flex;
        background-color: red;
        color: white;
        height: 4rem;
        font-size: 3rem;
        padding: .5rem;
        border: .5px solid black;
        justify-self: center;
        margin-bottom: .5rem;
    }

    .new-list-button:hover {
         border: none;
        background-color: darkseagreen;
        color: white;
        height: 4rem;
        font-size: 3rem;
        border: .5px solid black;
    }
    .list_add-item-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .list_add-item-container button {
        border: none;
        background-color: red;
        color: white;
        height: 4rem;
        width: 20rem;
        font-size: 3rem;
        border: .5px solid black
    }

    .list_add-item-container button:hover {
        border: none;
        background-color: darkseagreen;
        color: white;
        height: 4rem;
        width: 20rem;
        font-size: 3rem;
        border: .5px solid black;
    }

    .list-peek_row-container{
        display: grid;
        grid-template-areas:
        " ta ta b "
        "n n n";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
        justify-items: center;
        flex-flow: column wrap;
    }

    .list-peek_row-container div{
        display: flex;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .header {
        display: flex;
        grid-area: ta;
        padding: 1rem;
        margin: 0;
        width: 100%;
        margin-right: -2rem;
        font-size: 1.5rem;
        justify-content: center;

    }
    
    .list_item_notes-container{
        display: flex;
        justify-self: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }
    .list-peek_notes {
        grid-area: n;
        font-size: 1.5rem;
        display: flex;
        justify-self: flex-start;
        padding: .5rem;
    }

    .button {
        grid-area: b;
        width: 12rem;
        margin: 0;
        margin-left: 0;
        width: 100%;
        background-color: red;
        color: white;
        font-weight: 550;
        font-size: 1.5rem;
    }

    .button:hover {
        grid-area: b;
        width: 12rem;
        margin: 0;
        margin-left: 0;
        width: 100%;
        background-color: darkseagreen;
        color: black;
        font-weight: 550;
        font-size: 1.5rem;
        border: none;
    }

    .list-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    .list_details-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .list-name{
        display: flex;
        justify-content: center;
        font-size: 3rem;
    }

    .list-notes {
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    .list-items-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
     .list_item-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .list_item-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .list_item-notes{
        font-size: 1.8rem;
    }

    .item-header {
        font-size: 2.2rem;
    }


}